
<!DOCTYPE html>
<html lang="en">


<head>
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <body>
    
     <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand"> <img src=" {{ url_for('static', filename='rr.png') }}"></h3>
                  <nav class="nav nav-masthead">
                    <a class="nav-link active" href="#">Filter RCTs</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact</a>
                  </nav>
                </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Just the RCTs, please.</h1>
            <p class="lead">Powered by by <a href="http://www.robotreviewer.net">RobotReviewer</a>. 
             </p>


   

            <p class="lead"><a href="{{ download_path }}" download="{{ target_file_name }}"><mark><img src="{{ url_for('static', filename='download.png') }}"></img> download</mark>  your filtered list</a></p>

             

          </div>

          
          <div class="mastfoot">
            <div class="inner">
              <p>This work is supported by: the NIH/NLM grant R01-LM012086-01A1, NIH/NCI grant 5UH2CA203711-02, and also by the UK Medical Research Council (MRC), through its Skills Development Fellowship program, grant MR/N015185/1.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
  </html>

