<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <body class="sans-serif">

    <div class="fl w-third pa2 bg-blue white h5-ns">
        <h1>1</h1>
        <p>Select RIS file to upload</p>
        <input name="myFile" type="file" class="f6 pa3">
        <a class="f6 link dim ba ph3 pv2 mb2 dib white bg-green" href="#0">Go!</a>

    </div>

    <div class="fl w-third pa2 bg-light-gray h5-ns">
        <h1>2</h1>
        <p>Find RCTs...</p>
    </div>

    <div class="fl w-third pa2 bg-light-gray h5-ns">
        <h1>3</h1>
        <p>Download RCT citations</p>
    </div>
  </body>
</html>
